* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    height: 90vh;
    background-color: #000;
}

.appContainer {
    background-color: #3b3b3b;
    height: 25vh;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 1vh;
    flex-direction: column;
    font-family: monospace;
}

img {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    margin: 5px;
    margin-top: 10px;
}

.name {
    margin: 5px;
    margin-top: 10px;
    position: relative;
    right: 178px;
    border-bottom: 3px solid #000;
}